<!DOCTYPE html>
<html>
<head>
<title>Performance Graph</title>

<style>
body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    text-align:center;
}

img{
    margin-top:30px;
    width:80%;
    border-radius:10px;
}

.btn{
    position:absolute;
    top:20px;
    right:20px;
    padding:10px 20px;
    background:#00ffe1;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
</style>
</head>

<body>

<button class="btn" onclick="window.location.href='/Dashboard'">
⬅ Back to Dashboard
</button>

<h1>📊 Algorithm Performance</h1>

<img src="{{graph}}">

</body>
</html>